#pcp {
    width: 100%;
}


#firstRow, #secondRow {
  display: flex;
  height: 45%;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.unselected {
  opacity: 0;
}


#legend {
  display: flex;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-between;
  
}




#buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-content: center;
  justify-content: space-evenly;
  padding-right: 50px;
}


* {
  margin:auto;
}

#controls {
  background-color: lightgrey;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom:5%;
  left: 35%;
  height: 20%;
}

.h6{
  font-size:0.9vw !important;
}


.control-heading {
  font-weight: bold;
}

.input-label, .custom-control-label {
  font-size:0.7vw !important;
  margin-left: 0px;
}


#visContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

html, body{min-height:100%;}

.custom-switch.custom-switch {
  padding-left: 0px;
}

.custom-switch.custom-switch .custom-control-label {
  display: flex;
}
.custom-switch.custom-switch .custom-control-label::before {
  left: 90%;
}
.custom-switch.custom-switch .custom-control-label::after {
  left: calc(90% + 2px);
}

.bundle-slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

#bundleSlider {
  margin-left: 50px;
}

#legend svg g rect:hover, .active {
  stroke: black;
}

.pcp-axis-label:hover {
  font-weight: bold;
}

.custom-control-label {
  padding-right: 30px;
}